@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0px;
  padding: 0;
}
body {
  color: black;
  font-family: "Poppins", sans-serif;
  background-color: rgb(241, 246, 250);
}
